# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [12]:
#Your code here
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [13]:
#Your code here
# SELECT firstName, lastName, city, state
# tables: employees(officeCode), offices(officeCode)

df = pd.DataFrame(c.execute('''SELECT firstName, lastName, city, state
                               FROM employees e JOIN offices o USING(officeCode)
                               ORDER BY firstName, lastName;''').fetchall())
df.columns = [x[0] for x in c.description]
df

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [14]:
# Your code here
# SELECT contactFirstName, contactLastName, customerName, orderNumber, orderDate, status
# tables: customers(customerNumber), orders(customerNumber)

df = pd.DataFrame(c.execute('''SELECT contactFirstName, contactLastName, customerName, orderNumber, orderDate, status
                               FROM customers c JOIN orders o USING(customerNumber)
                               ORDER BY contactFirstName, contactLastName;''').fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,customerName,orderNumber,orderDate,status
0,Adrian,Huxley,Souveniers And Things Co.,10139,2003-07-16,Shipped
1,Adrian,Huxley,Souveniers And Things Co.,10270,2004-07-19,Shipped
2,Adrian,Huxley,Souveniers And Things Co.,10361,2004-12-17,Shipped
3,Adrian,Huxley,Souveniers And Things Co.,10420,2005-05-29,In Process
4,Akiko,Shimamura,"Tokyo Collectables, Ltd",10258,2004-06-15,Shipped
5,Akiko,Shimamura,"Tokyo Collectables, Ltd",10339,2004-11-23,Shipped
6,Akiko,Shimamura,"Tokyo Collectables, Ltd",10372,2005-01-26,Shipped
7,Akiko,Shimamura,"Tokyo Collectables, Ltd",10408,2005-04-22,Shipped
8,Allen,Nelson,Collectables For Less Inc.,10147,2003-09-05,Shipped
9,Allen,Nelson,Collectables For Less Inc.,10274,2004-07-21,Shipped
10,Allen,Nelson,Collectables For Less Inc.,10369,2005-01-20,Shipped
11,Ann,Brown,"Stylish Desk Decors, Co.",10129,2003-06-12,Shipped
12,Ann,Brown,"Stylish Desk Decors, Co.",10175,2003-11-06,Shipped
13,Ann,Brown,"Stylish Desk Decors, Co.",10351,2004-12-03,Shipped
14,Anna,O'Hara,"Anna's Decorations, Ltd",10148,2003-09-11,Shipped
15,Anna,O'Hara,"Anna's Decorations, Ltd",10169,2003-11-04,Shipped
16,Anna,O'Hara,"Anna's Decorations, Ltd",10370,2005-01-20,Shipped
17,Anna,O'Hara,"Anna's Decorations, Ltd",10391,2005-03-09,Shipped
18,Annette,Roulet,Alpha Cognac,10136,2003-07-04,Shipped
19,Annette,Roulet,Alpha Cognac,10178,2003-11-08,Shipped
20,Annette,Roulet,Alpha Cognac,10397,2005-03-28,Shipped
21,Arnold,Cruz,Cruz & Sons Co.,10108,2003-03-03,Shipped
22,Arnold,Cruz,Cruz & Sons Co.,10198,2003-11-27,Shipped
23,Arnold,Cruz,Cruz & Sons Co.,10330,2004-11-16,Shipped
24,Ben,Calaghan,"Australian Gift Network, Co",10152,2003-09-25,Shipped
25,Ben,Calaghan,"Australian Gift Network, Co",10174,2003-11-06,Shipped
26,Ben,Calaghan,"Australian Gift Network, Co",10374,2005-02-02,Shipped
27,Brian,Chandler,"Men 'R' US Retailers, Ltd.",10160,2003-10-11,Shipped
28,Brian,Chandler,"Men 'R' US Retailers, Ltd.",10209,2004-01-09,Shipped
29,Carine,Schmitt,Atelier graphique,10123,2003-05-20,Shipped
...,...,...,...,...,...,...
296,Tony,Snowden,Kelly's Gift Shop,10179,2003-11-11,Cancelled
297,Tony,Snowden,Kelly's Gift Shop,10360,2004-12-16,Shipped
298,Tony,Snowden,Kelly's Gift Shop,10399,2005-04-01,Shipped
299,Valarie,Franco,Diecast Collectables,10207,2003-12-09,Shipped
300,Valarie,Franco,Diecast Collectables,10243,2004-04-26,Shipped
301,Valarie,Thompson,Collectable Mini Designs Co.,10222,2004-02-19,Shipped
302,Valarie,Thompson,Collectable Mini Designs Co.,10226,2004-02-26,Shipped
303,Veysel,Oeztan,Herkku Gifts,10181,2003-11-12,Shipped
304,Veysel,Oeztan,Herkku Gifts,10188,2003-11-18,Shipped
305,Veysel,Oeztan,Herkku Gifts,10289,2004-09-03,Shipped
306,Violeta,Benitez,FunGiftIdeas.com,10166,2003-10-21,Shipped
307,Violeta,Benitez,FunGiftIdeas.com,10321,2004-11-04,Shipped
308,Violeta,Benitez,FunGiftIdeas.com,10388,2005-03-03,Shipped
309,Wales,MacKinlay,GiftsForHim.com,10202,2003-12-02,Shipped
310,Wales,MacKinlay,GiftsForHim.com,10260,2004-06-16,Cancelled
311,Wales,MacKinlay,GiftsForHim.com,10410,2005-04-29,Shipped
312,Wendy,Victorino,Handji Gifts& Co,10217,2004-02-04,Shipped
313,Wendy,Victorino,Handji Gifts& Co,10259,2004-06-15,Shipped
314,Wendy,Victorino,Handji Gifts& Co,10288,2004-09-01,Shipped
315,Wendy,Victorino,Handji Gifts& Co,10409,2005-04-23,Shipped
316,William,Brown,Tekni Collectables Inc.,10233,2004-03-29,Shipped
317,William,Brown,Tekni Collectables Inc.,10251,2004-05-18,Shipped
318,William,Brown,Tekni Collectables Inc.,10401,2005-04-03,On Hold
319,Wing,Huang,Mini Creations Ltd.,10143,2003-08-10,Shipped
320,Wing,Huang,Mini Creations Ltd.,10185,2003-11-14,Shipped
321,Wing,Huang,Mini Creations Ltd.,10365,2005-01-07,Shipped
322,Yoshi,Tamuri,Canadian Gift Exchange Network,10206,2003-12-05,Shipped
323,Yoshi,Tamuri,Canadian Gift Exchange Network,10313,2004-10-22,Shipped
324,Yu,Choi,Microscale Inc.,10242,2004-04-20,Shipped
325,Yu,Choi,Microscale Inc.,10319,2004-11-03,Shipped

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [36]:
# Your code here
# SELECT contactFirstName, contactLastName, payments.*
# tables: customers(customerNumber), payments(customerNumber)
# order by amount

df = pd.DataFrame(c.execute('''SELECT contactFirstName, contactLastName, customerName, p.*
                               FROM customers c JOIN payments p USING(customerNumber)
                               ORDER BY amount DESC;''').fetchall())
df.columns = [x[0] for x in c.description]
df.amount = df.amount.astype(float)
df

,contactFirstName,contactLastName,customerName,customerNumber,checkNumber,paymentDate,amount
0,Violeta,Benitez,FunGiftIdeas.com,462,GC60330,2003-11-08,9977.85
1,Ben,Calaghan,"Australian Gift Network, Co",333,JK479662,2003-10-17,9821.32
2,Leslie,Taylor,Auto-Moto Classics Inc.,198,FI192930,2004-12-06,9658.74
3,Sean,Clenahan,"Australian Collectables, Ltd",471,AB661578,2004-07-28,9415.13
4,Roland,Mendel,Mini Auto Werke,452,HG635467,2005-05-03,8807.12
5,Julie,Brown,Corporate Gift Ideas Co.,321,DJ15149,2003-11-03,85559.12
6,Susan,Nelson,Mini Gifts Distributors Ltd.,124,BG255406,2004-08-28,85410.87
7,Veysel,Oeztan,Herkku Gifts,167,GN228846,2003-12-03,85024.46
8,Susan,Nelson,Mini Gifts Distributors Ltd.,124,ET64396,2005-04-16,83598.04
9,Wing,Huang,Mini Creations Ltd.,320,GJ597719,2005-01-18,8307.28
10,Peter,Ferguson,"Australian Collectors, Co.",114,MA765515,2004-12-15,82261.22
11,Valarie,Thompson,Collectable Mini Designs Co.,239,NQ865547,2004-03-15,80375.24
12,Steve,Thompson,West Coast Collectables Co.,475,JP113227,2003-12-09,7678.25
13,Christina,Berglund,"Volvo Model Replicas, Co",144,LA685678,2003-04-09,7674.94
14,Franco,Ricotti,Frau da Collezione,473,LL427009,2004-02-17,7612.06
15,Peter,Ferguson,"Australian Collectors, Co.",114,NP603840,2003-05-31,7565.08
16,Mike,Graham,"Down Under Souveniers, Inc",323,AL493079,2005-05-23,75020.13
17,Roland,Keitel,"Blauer See Auto, Co.",128,IP383901,2004-11-18,7466.32
18,Thomas,Smith,"Double Decker Gift Stores, Ltd",489,PO860906,2004-01-31,7310.42
19,William,Brown,Tekni Collectables Inc.,328,EN930356,2004-04-16,7178.66
20,Dan,Lewis,Gift Ideas Corp.,447,AO757239,2003-09-15,6631.36
21,Diego,Freyre,Euro+ Shopping Channel,141,IN446258,2005-03-25,65071.26
22,Georg,Pipps,Salzburg Collectables,382,CT821147,2004-08-01,6419.84
23,Diego,Freyre,Euro+ Shopping Channel,141,KT52578,2003-12-09,63843.55
24,Kelvin,Leong,Diecast Classics Inc.,157,NN711988,2004-09-07,63357.13
25,Valarie,Franco,Diecast Collectables,495,FN155234,2004-05-14,6276.60
26,Akiko,Shimamura,"Tokyo Collectables, Ltd",398,JPMR4544,2005-05-18,615.45
27,Mihael,Holz,"Vida Sport, Ltd",298,LF501133,2004-09-18,61402.00
28,Henriette,Pfalzheim,"Toms Spezialitäten, Ltd",259,EU280955,2004-11-06,61234.67
29,Carine,Schmitt,Atelier graphique,103,HQ336336,2004-10-19,6066.78
...,...,...,...,...,...,...,...
243,Pirkko,Koskitalo,"Oulu Toy Supplies, Inc.",311,NQ966143,2004-04-25,16212.59
244,Arnold,Cruz,Cruz & Sons Co.,385,CP804873,2004-11-19,15822.84
245,Jesus,Fernandez,CAF Imports,344,NJ906924,2004-04-02,15322.93
246,Mory,Kentary,Osaka Souveniers Co.,177,AU750837,2004-04-17,15183.63
247,Roland,Mendel,Mini Auto Werke,452,FN640986,2003-11-20,15130.97
248,Juri,Yoshido,Gifts4AllAges.com,362,OG208861,2004-09-21,15059.76
249,Jonas,Bergulfsen,Baane Mini Imports,121,FD317790,2003-10-28,1491.38
250,Carine,Schmitt,Atelier graphique,103,JM555205,2003-06-05,14571.44
251,Pascale,Cartrain,Royale Belge,381,GB117430,2005-02-03,14379.90
252,Annette,Roulet,Alpha Cognac,242,KI744716,2003-07-21,14232.70
253,Jean,King,Signal Gift Stores,112,BO864823,2004-12-17,14191.12
254,Paul,Henriot,Reims Collectables,353,ED878227,2003-07-21,13920.26
255,Ann,Brown,"Stylish Desk Decors, Co.",324,DQ409197,2004-12-13,13671.82
256,Juri,Hashimoto,Technics Stores Inc.,161,KG644125,2005-02-02,12692.19
257,Sue,Taylor,Signal Collectibles Ltd.,487,PT550181,2004-02-29,12573.28
258,Veysel,Oeztan,Herkku Gifts,167,ED743615,2004-09-19,12538.01
259,Allen,Nelson,Collectables For Less Inc.,379,GB890854,2004-08-02,12530.51
260,Annette,Roulet,Alpha Cognac,242,HR224331,2005-06-03,12432.32
261,Dominique,Perrier,Auto Canal+ Petit,406,BJMPR4545,2005-04-23,12190.85
262,Pascale,Cartrain,Royale Belge,381,BC726082,2004-12-03,12081.52
263,Diego,Freyre,Euro+ Shopping Channel,141,JE105477,2005-03-18,120166.58
264,Jerry,Tseng,Cambridge Collectables Co.,173,GP545698,2004-05-13,11843.45
265,Diego,Freyre,Euro+ Shopping Channel,141,ID10962,2004-12-31,116208.40
266,Pascale,Cartrain,Royale Belge,381,MS154481,2003-08-22,1128.20
267,Susan,Nelson,Mini Gifts Distributors Ltd.,124,KI131716,2003-08-15,111654.40
268,Susan,Nelson,Mini Gifts Distributors Ltd.,124,CQ287967,2003-04-11,11044.30
269,Eric,Natividad,"Dragon Souveniers, Ltd.",148,KM172879,2003-12-26,105743.00
270,Roland,Keitel,"Blauer See Auto, Co.",128,DI925118,2003-01-28,10549.01
271,Dorothy,Young,Online Diecast Creations Co.,363,IS232033,2003-01-16,10223.83
272,Susan,Nelson,Mini Gifts Distributors Ltd.,124,AE215433,2005-03-05,101244.59

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [38]:
# Your code here
# SELECT contactFirstName, contactLastName, productName, quantityInStock, orderDate
# tables: customers(customerNumber) --> orders(customerNumber)
#         orders(orderNumber) --> orderdetails(orderNumber)
#         orderdetails(productCode) --> products(productCode)
# order by orderDate

df = pd.DataFrame(c.execute('''SELECT contactFirstName, contactLastName, productName, quantityInStock, orderDate
                               FROM customers c JOIN orders o USING(customerNumber)
                               JOIN orderdetails od USING(orderNumber)
                               JOIN products p USING(productCode)
                               ORDER BY orderDate DESC;''').fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,productName,quantityInStock,orderDate
0,Janine,Labrune,1962 LanciaA Delta 16V,6791,2005-05-31
1,Janine,Labrune,1957 Chevy Pickup,6125,2005-05-31
2,Janine,Labrune,1998 Chrysler Plymouth Prowler,4724,2005-05-31
3,Janine,Labrune,1964 Mercedes Tour Bus,8258,2005-05-31
4,Janine,Labrune,1926 Ford Fire Engine,2018,2005-05-31
5,Janine,Labrune,1992 Ferrari 360 Spider red,8347,2005-05-31
6,Janine,Labrune,1940s Ford truck,3128,2005-05-31
7,Janine,Labrune,1970 Dodge Coronet,4074,2005-05-31
8,Janine,Labrune,1962 Volkswagen Microbus,2327,2005-05-31
9,Janine,Labrune,1958 Chevy Corvette Limited Edition,2542,2005-05-31
10,Janine,Labrune,1980’s GM Manhattan Express,5099,2005-05-31
11,Janine,Labrune,1954 Greyhound Scenicruiser,2874,2005-05-31
12,Janine,Labrune,Diamond T620 Semi-Skirted Tanker,1016,2005-05-31
13,Diego,Freyre,1952 Alpine Renault 1300,7305,2005-05-31
14,Diego,Freyre,1958 Setra Bus,1579,2005-05-31
15,Diego,Freyre,1940 Ford Pickup Truck,2613,2005-05-31
16,Diego,Freyre,1939 Cadillac Limousine,6645,2005-05-31
17,Diego,Freyre,1996 Peterbilt 379 Stake Bed with Outrigger,814,2005-05-31
18,Diego,Freyre,1982 Camaro Z28,6934,2005-05-31
19,Kelvin,Leong,1937 Lincoln Berline,8693,2005-05-30
20,Kelvin,Leong,1936 Mercedes-Benz 500K Special Roadster,8635,2005-05-30
21,Catherine,Dewey,1913 Ford Model T Speedster,4189,2005-05-30
22,Catherine,Dewey,1934 Ford V8 Coupe,5649,2005-05-30
23,Catherine,Dewey,18th Century Vintage Horse Carriage,5992,2005-05-30
24,Catherine,Dewey,1917 Maxwell Touring Car,7913,2005-05-30
25,Catherine,Dewey,1936 Chrysler Airflow,4710,2005-05-30
26,Susan,Nelson,1928 Mercedes-Benz SSK,548,2005-05-29
27,Susan,Nelson,1938 Cadillac V-16 Presidential Limousine,2847,2005-05-29
28,Adrian,Huxley,1917 Grand Touring Sedan,2724,2005-05-29
29,Adrian,Huxley,1911 Ford Town Car,540,2005-05-29
...,...,...,...,...,...
2966,Diego,Freyre,1954 Greyhound Scenicruiser,2874,2003-01-31
2967,Diego,Freyre,1950's Chicago Surface Lines Streetcar,8601,2003-01-31
2968,Diego,Freyre,Diamond T620 Semi-Skirted Tanker,1016,2003-01-31
2969,Diego,Freyre,1962 City of Detroit Streetcar,1645,2003-01-31
2970,Jonas,Bergulfsen,1952 Alpine Renault 1300,7305,2003-01-29
2971,Jonas,Bergulfsen,1962 LanciaA Delta 16V,6791,2003-01-29
2972,Jonas,Bergulfsen,1958 Setra Bus,1579,2003-01-29
2973,Jonas,Bergulfsen,1940 Ford Pickup Truck,2613,2003-01-29
2974,Jonas,Bergulfsen,1926 Ford Fire Engine,2018,2003-01-29
2975,Jonas,Bergulfsen,1913 Ford Model T Speedster,4189,2003-01-29
2976,Jonas,Bergulfsen,1934 Ford V8 Coupe,5649,2003-01-29
2977,Jonas,Bergulfsen,18th Century Vintage Horse Carriage,5992,2003-01-29
2978,Jonas,Bergulfsen,1917 Maxwell Touring Car,7913,2003-01-29
2979,Jonas,Bergulfsen,1940s Ford truck,3128,2003-01-29
2980,Jonas,Bergulfsen,1939 Cadillac Limousine,6645,2003-01-29
2981,Jonas,Bergulfsen,1962 Volkswagen Microbus,2327,2003-01-29
2982,Jonas,Bergulfsen,1936 Chrysler Airflow,4710,2003-01-29
2983,Jonas,Bergulfsen,1980’s GM Manhattan Express,5099,2003-01-29
2984,Jonas,Bergulfsen,1996 Peterbilt 379 Stake Bed with Outrigger,814,2003-01-29
2985,Jonas,Bergulfsen,1982 Camaro Z28,6934,2003-01-29
2986,Michael,Frick,1937 Lincoln Berline,8693,2003-01-10
2987,Michael,Frick,1936 Mercedes-Benz 500K Special Roadster,8635,2003-01-10
2988,Roland,Keitel,1932 Model A Ford J-Coupe,9354,2003-01-09
2989,Roland,Keitel,1928 Mercedes-Benz SSK,548,2003-01-09
2990,Roland,Keitel,1939 Chevrolet Deluxe Coupe,7332,2003-01-09
2991,Roland,Keitel,1938 Cadillac V-16 Presidential Limousine,2847,2003-01-09
2992,Dorothy,Young,1917 Grand Touring Sedan,2724,2003-01-06
2993,Dorothy,Young,1911 Ford Town Car,540,2003-01-06
2994,Dorothy,Young,1932 Alfa Romeo 8C2300 Spider Sport,6553,2003-01-06
2995,Dorothy,Young,1936 Mercedes Benz 500k Roadster,2081,2003-01-06

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!